<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reddit Clone</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.js"></script>
</head>
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="nav navbar-nav" ng-controller="NavController">
                <li ng-class="{active: isActive('Home')}" ng-click="navActive = 'Home'">
                    <a ng-href="#/"> Home </a>
                </li>
                <li ng-class="{active: isActive('Projects')}">
                    <a ng-href="#/projects" ng-click="navActive = 'Projects'">
                        Projects
                    </a>
                </li>
                <li ng-class="{active: isActive('Resume')}">
                    <a ng-href="#/resume" ng-click="navActive = 'Resume'">
                        Resume
                    </a>
                </li>
                <li ng-class="{active: isActive('Bio')}">
                    <a ng-href="#/bio" ng-click="navActive = 'Bio'">
                        Bio
                    </a>
                </li>
                <li ng-class="{active: isActive('Calculator')}">
                    <a ng-href="#/calculator" ng-click="navActive = 'Calculator'">
                        Calculator
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<hr>

<body>

    <div class="container" ng-view></div>
    <!-- load momentJS (required for angular-moment) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
    <!-- load angular-moment -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.min.js"></script>
    <!-- load angular-routes -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.js"></script>
    <script src="./js/app.js" type="text/javascript"></script>
    <script src="./js/controllers.js" type="text/javascript"></script>
    <script src="./js/directives.js" type="text/javascript"></script>
    <script src="./js/filters.js" type="text/javascript"></script>
    <script src="./js/services.js" type="text/javascript"></script>
</body>

</html>